{% extends 'admin/admin_home.html'%}
{% block adminContent %}
    <form method="post">
            <h2> Add Wiki </h2>
            <code>
                If you want to publish the wiki externally, please unchecked the 'Internal' checkbox.
                The default is published internally (for admins only).
            </code>
            <br>
            <br>
            <input type="checkbox" name="internal" value="True" checked> Internal <br>
            <textarea class="form-control" style="font-family:monospace;" name="path" id="path" rows="1" placeholder="please enter wiki name"></textarea>
            <br>

            <div id="inputs">
                <button type="submit" class="btn pull-right">Create</button>
            </div>

        <br>

    </form>

{% if error is defined %}
<br>
<br>
<br>
<div style="position:float; bottom:0;" class="alert alert-dismissable alert-danger">
    <button type="button" class="close" data-dismiss="alert">×</button>
    {{error | safe}}
</div>
{% endif %}

<script src="/js/mdpreview.js"></script>
{% endblock %}