{% extends 'base.html' %}

{% block customcss %}
    <link href="/css/jumbotron.css" rel="stylesheet">
    <link href="/css/text.css" rel="stylesheet">
{% endblock %}

{% block about %} {% endblock %}

{% block internal %} active {% endblock %}

{% block content %}
        <br><br>
        <br><br>

<!-- ODB Search -->
<div class="container">
    <div class="jumbotron">
        <h2>
            4 Recent ODBs
            <br>
            <small>
            <a href="/">Show All</a>
            </small>
        </h2>
    <form method='post'>
        <div class="input-group">
            <input type="search here and enter" name='search' class="form-control input-lg"
                   placeholder="Search ODB here">

                                    <span class="input-group-btn">
                                    <button class="btn btn-default btn-lg" ><i class="fa fa-chevron-right"></i></button>
                                    </span>
        </div>
    </form>
{% if results is defined %}
    <br>
    <h2> {{len_results}} of {{results.number_found}} ODB found "{{ query }}" </h2>
    <br>
    {% for scored_document in results %}

    <div class="row" style="text-align:center">
        {% for f in scored_document.fields%}
        {% for expr in scored_document.expressions %}
        <a class="brand" href="{{f.value}}" target='_blank'>
            {{f.value.strip("/") | replace("admin/odb/", "") | pathformat }}
        </a>
        <br>

        {% if expr.name == 'content' %}
        {{ expr.value | safe }}
        {% endif %}
        <br>

        {% endfor %}
        {% endfor %}
        <hr>
    </div>
    {% endfor %}

{% endif %}


<br>
<!-- ODB pages -->
{%- for page_content in pages | batch(2) %}
<div class="row">
    {%- for path, title, content in page_content %}
        <div class="col-md-6">
            <div class="container-fixed">
            <h2 class="content-preview" style="text-align: center;">
                <!-- path or title -->
                <a style="color:#000000; text-decoration:none; margin-bottom:3px;" class="brand" href="/admin/odb/{{path}}" target='_blank'>
                    {{title | striptags}}
                </a>
            </h2>
            </div>

            <date class="date">
            <span>Published on {{ path }}
                <!-- delete page confirmation -->
                {% if admin %}
                    <a style="color:#000000" data-href="/admin/odb/_delete/{{path.strip("/")}}" data-toggle="modal"
                       data-target="#confirm-delete" href="#">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                {% endif %}
            </span>
            </date>


            <br>
            <br>
            <p class="content-preview" >
                {{content | striptags}}
            </p>
            <div class="line"><a class="read-more" href="/admin/odb/{{path}}" role="button"> More </a></div>
            <br><br>
        </div>
    {%- endfor %}
    <br><br>
</div>
{% endfor %}
</div>
</div> <!-- The End for Pages -->
<br><br><br>
{% endblock %}
